<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home">
      </ion-back-button>
    </ion-buttons>
    <div class="header-page">
      <div class="title-chat">
        Llamadas
      </div>
      <div class="options">
        <button *ngIf="!styleList" (click)="styleList= true; GetCall()"><i class="fas fa-list-ul"></i></button>
        <button *ngIf="styleList" (click)="styleList= false"><i class="fas fa-phone-alt"></i></button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo-section" *ngIf="list.length == 0 && !styleList">
    <div>
      <i class="fas fa-phone-alt"></i>
      <span>No hay contactos para mostrar</span>
    </div>
  </div>
  <ion-list>
    <ng-container *ngIf="list.length > 0 && !styleList">
      <small class="title">Contactos:</small>
      <div class="item-2" *ngFor="let item of list">
        <button (click)="Create(item.id, item.number)">
          <span class="name">{{item.name}}</span>
          <span class="number">{{item.number}}</span>
        </button>
      </div>
    </ng-container>
    <div *ngIf="styleList" class="records-div">
      <form (ngSubmit)="GetCall()" class="filter-input">
        <input autocomplete="off" [(ngModel)]="indication" placeholder="Asunto o fecha" name="indication" id="indicatio"
          type="text">
        <button><i class="fas fa-search"></i></button>
      </form>
      <div class="records">
        <div class="item-1" *ngFor="let item of records">
          <div *ngIf="item.type == 4">
            <i class="fas fa-phone-alt"></i>
            <div>
              <span>{{item.telName}}</span>
              <small>{{item.date}}</small>
            </div>
          </div>
          <a [routerLink]="['/ticket', item.id]" *ngIf="item.type == 44">
            <i class="fas fa-phone-alt active"></i>
            <div>
              <span>{{item.telName}}</span>
              <small>{{item.date}}</small>
            </div>
          </a>
        </div>
      </div>
    </div>
  </ion-list>
  <app-notification (showEvent)="modal.modal=$event" [modal]="modal"></app-notification>
</ion-content>

