<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home">
      </ion-back-button>
    </ion-buttons>
    <div class="header-page">
      <div class="title">
        Notificaciones
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div class="logo-section" *ngIf="list.length == 0">
      <div>
        <i class="far fa-bell"></i>
        <span>Sin notificaciones</span>
      </div>
    </div>
    <div class="list">
      <div *ngFor="let item of list" class="item">
        <div>
          <strong>{{item.title}}</strong>
          <span>{{item.message}}</span>
          <small>{{item.date}}</small>
        </div>
      </div>
    </div>
  </ion-list>
  <app-notification (showEvent)="modal.modal=$event" [modal]="modal"></app-notification>
</ion-content>