.title-chat {
    width: 250px;

    display: flex;
    flex-direction: column;
    gap: 0em;

    span,
    strong {
        width: 100%;

        overflow: hidden;
        text-overflow: initial;
        white-space: nowrap;
    }

    span {
        color: rgba(255, 255, 255, 0.775);
    }
}

.header-page .options #btn-ticket {
    width: 30px;
    height: 30px;

    color: white;

    margin-right: 20px;
}

.chat-messages {
    overflow-y: scroll;
    img {
        width: 300px;

        margin: auto;
    }
}

.message-loafing {
    height: 100%;

    background: rgba(0, 0, 0, 0.083);
    
    position: absolute;
    top: 0%;
    right: 0%;
    
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .spinner {
        border: 4px solid rgba(0, 0, 0, 0.1);
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border-left-color: #09f;
    
        animation: spin 1s ease infinite;
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
    
        100% {
            transform: rotate(360deg);
        }
    }
}

.ml-show {
    width: 100%;

    padding: 0% 8px;
}

.ml-hide {
    width: 0%;

    padding: 0%;
}
